.about-page {
  @include flex(row, flex-start, space-evenly);
  min-height: calc(100vh - 60px);
  margin: 3em auto 0 auto;
  width: 90vw;
  max-width: 1000px;
  @media (max-width:767px) {
    @include flex(column, center, space-between);
    height: auto;
  }
}

.img-section {
  @include flex(column, center, flex-start);
  min-width: 25%;
  height: 100%;
  @media (max-width:767px) {
    margin: 0 0 2em 0;
  }
}

.img-section h3 {
  color: var(--green-to-black);
  margin-top: 20px;
  text-align: center;
}

.profile-img-container{
  background-image: url('/src/styles/images/profile_img.jpg');
  height: 15em;
  width: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-info-container {
  @include flex(column, flex-start, space-between);
  height: 100%;
  width: 60%;
  max-width: 600px;
  @media (max-width:767px) {
    width: 90%;
  }
}

.skills-badge-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @media (max-width:767px) {
    margin: 1em 0;
  }
}

.skills-badge {
  display: flex;
  align-items: center;
  margin: 5px 20px 5px 0;
  padding: 12px 25px;
  background-color: ($darkGreen) !important;
  color: var(--black-to-white);
  font-weight: 500;
}

.social-links-container {
  @include flex(row, flex-start, space-between);
  width: 60%;
  max-width: 250px;
  margin: 1em 0 2em 0;
}

.social-img {
  color: var(--light-green-to-dark);
  margin-right: 15px;
}

.skill-badge-span {
  margin-left: 10px;
}