// Nav
#navbar-main-page {
  --bs-bg-opacity: 0;
  margin: 10px 30px;
  text-transform: uppercase;
}
// Nav Bar Brand Link
.nav-btn-brand {
  text-decoration: none;
  color: var(--green-to-black);
  @media (max-width:767px) {
  
  }
}
// Nav Bar Links
.nav-btn-links {
  text-decoration: none;
  color: var(--green-to-black);
  @media (max-width:767px) {
    color: ($black);
  }
}
// Burger Icon
.navbar-toggler {
  border: none;
}
// Dropdown Nav
#dropdown-nav {
  @media (max-width:767px) {
    padding: 18px 0;
    margin-top: 10px;
    background-color: ($darkGreen);
  }
}
// General button styling
.btn-outline-light, .btn-outline-dark {
  border: none;
  padding-bottom: 0.5em;
}
// Sun - when checked
.btn-check:checked+.btn-outline-light .bi-sun-fill {
  color: ($darkGreen);
}
.btn-check:checked+.btn-outline-light {
  background-color: ($white);
}
// Moon - when checked
.btn-check:checked+.btn-outline-dark .bi-moon-fill{
  color: ($white);
}
.btn-check:checked+.btn-outline-dark  {
  background-color: ($black);
}
// Sun icon
.bi-sun-fill {
  color: ($darkGreen);
  @media (max-width:767px) {
    color: ($black);
  }
}
// Moon icon
.bi-moon-fill {
  color: ($black);
  @media (max-width:767px) {
    color: ($white);
  }
}


