.main-projects {
  min-height: calc(100vh - 60px);
  height: 100%;
  width: 100%;
  @media (max-width:767px) {
    display: none;
  }
}

.main-projects-mobile {
  display: none;
  @media (max-width:767px) {
    @include flex(column, center, space-evenly);
    height: 100%;
  }
}

.carousel {
  max-height: 800px;
}

.carousel-inner {
  height: 80vh;
  margin: 20px;
  max-height: 800px;
}

.project-container-carousel {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel-information {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 40%;
  background-color: var(--black-to-white-opacity);
  backdrop-filter: blur(5px);
}

.carousel-caption {
  height: 100%;
  bottom: 0;
  right: 8%;
  left: 8%;
  width: 70%;
  @media (max-width:767px) {
    width: 80%;
  }
}

.carousel-caption h2 {
  color: var(--white-to-black);
}

.carousel-caption .skills-badge {
  padding: 10px 15px;
  color: $black;
}

.carousel-indicators {
  margin-bottom: 0;
  margin-top: 5px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--green-to-black);
}

.carousel-control-next, .carousel-control-prev {
  width: 8%;
}

#prevIcon, #nextIcon {
  color: var(--light-green-to-dark);
}


// Mobile
.main-projects-mobile .project-container-carousel {
  @include flex(column, center, space-evenly);
  height: 26vh;
  width: 90vw;
  background-size: cover;
  background-position: top;
  margin: 5px auto;
  position: relative;
}

.mobile-project-sections {
  margin: 15px 0;
}

.main-projects-mobile .carousel-information {
  position: relative;
  width: 95vw;
  padding: 5px;
  margin-bottom: 5px;
  backdrop-filter: none;
  background-color: unset;
}

.main-projects-mobile h2 {
  color: var(--white-to-black);
}

.main-projects-mobile .skills-badge {
  padding: 10px 15px;
  margin: 5px 7px 5px 0;
}

