.single-project-page {
  @include flex(row, flex-start, space-evenly);
  margin: 3em auto 0 auto;
  width: 90vw;
  max-width: 1000px;
  min-height: calc(100vh + 60px);
  @media (max-width:767px) {
    @include flex(column, center, space-around);
    height: auto;
  }
}

.single-project-img-section {
  width: 60vw;
  max-width: 500px;
  @include flex(row, center, space-around);
  flex-wrap: wrap;
  @media (max-width:767px) {
    width: 90%;
    margin-bottom: 25px;
  }
}

.single-project-img {
  @include bg-image(center, cover);
  height: 24vw;
  max-height: 240px;
  width: 24vw;
  max-width: 240px;
  margin: 5px;
  cursor: pointer;
  transition: 0.175s ease-in-out;
  @media (max-width:767px) {
    height: 39vw;
    width: 39vw;
    margin: 2px;
  }
}

.single-project-img:hover{
  opacity: calc(0.8);
  transform: scale(1.05);
}

.project-info-container {
  @include flex(column, flex-start, space-between);
  height: 100%;
  width: 40vw;
  margin-left: 30px;
  @media (max-width:767px) {
    width: 90%;
  }
}

.project-info-container .social-links-container {
  max-width: 150px;
}

.project-info-time-group {
  @include flex(row, center, space-between);
  width: 80%;
  max-width: 280px;
  color: ($darkGreen);
}